torch
orjson
tqdm
tokenizers
librosa  # prepare_fast_dataset.py
pyworld  # prepare_fast_dataset.py
soundfile  # generate.py
numpy
matplotlib  # train_tktts.py
tensorboard  # train_tktts.py
tgt  # prepare_fast_dataset.py
luaparser  # extract_artemis.py